body {

  background-image: linear-gradient( 132.6deg,  rgba(71,139,214,1) 23.3%, rgba(37,216,211,1) 84.7% );
  //background: var(--bs-dark);
  color: var(--bs-dark)
}

.body-wrapper {
  padding: 35px;
  background: transparent;
}
.auth-wrapper {
  background-color: rgba(36, 43, 64, 0.9);
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.nav-links {
  a {
    margin: 0 2px;
  }
}