.modal {
  --modal-zindex:1055;
  --modal-width:500px;
  --modal-padding:1rem;
  --modal-margin:0.5rem;
  --modal-color:currentColor;
  --modal-bg:var(--emphasis-bg);
  --modal-border-color:transparent;
  --modal-border-width:var(--border-width);
  --modal-border-radius:0.375rem;
  --modal-box-shadow:var(--box-shadow-sm);
  --modal-inner-border-radius:calc(0.375rem - (var(--border-width)));
  --modal-header-padding-x:1rem;
  --modal-header-padding-y:1rem;
  --modal-header-padding:1rem 1rem;
  --modal-header-border-color:var(--border-color);
  --modal-header-border-width:var(--border-width);
  --modal-title-line-height:1.49;
  --modal-footer-gap:0.5rem;
  --modal-footer-bg:currentColor;
  --modal-footer-border-color:var(--border-color);
  --modal-footer-border-width:var(--border-width);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--modal-zindex);
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: var(--modal-margin);
  pointer-events: none;
}

.modal {
  &.fade .modal-dialog {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    -webkit-transform: translate(0, -50px);
    -ms-transform: translate(0, -50px);
    transform: translate(0, -50px);
  }

  &.show .modal-dialog {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  &.modal-static .modal-dialog {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
  }
}

@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

.modal-dialog-scrollable {
  height: calc(100% - var(--modal-margin) * 2);

  .modal-content {
    max-height: 100%;
    overflow: hidden;
  }

  .modal-body {
    overflow-y: auto;
  }
}

.modal-dialog-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - var(--modal-margin) * 2);
}

.modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  color: var(--modal-color);
  pointer-events: auto;
  background-color: var(--modal-bg);
  background-clip: padding-box;
  border: var(--modal-border-width) solid var(--modal-border-color);
  border-radius: var(--modal-border-radius);
  -webkit-box-shadow: var(--modal-box-shadow);
  box-shadow: var(--modal-box-shadow);
  outline: 0;
}

.modal-backdrop {
  --backdrop-zindex:1050;
  --backdrop-bg:#000000;
  --backdrop-opacity:0.5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--backdrop-zindex);
  width: 100vw;
  height: 100vh;
  background-color: var(--backdrop-bg);

  &.fade {
    opacity: 0;
  }

  &.show {
    opacity: var(--backdrop-opacity);
  }
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: var(--modal-header-padding);
  border-bottom: var(--modal-header-border-width) solid var(--modal-header-border-color);
  border-top-left-radius: var(--modal-inner-border-radius);
  border-top-right-radius: var(--modal-inner-border-radius);

  .btn-close {
    padding: calc(var(--modal-header-padding-y) * 0.5) calc(var(--modal-header-padding-x) * 0.5);
    margin: calc(-0.5 * var(--modal-header-padding-y)) calc(-0.5 * var(--modal-header-padding-x)) calc(-0.5 * var(--modal-header-padding-y)) auto;
  }
}

.modal-title {
  margin-bottom: 0;
  line-height: var(--modal-title-line-height);
}

.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: var(--modal-padding);
}

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: calc(var(--modal-padding) - var(--modal-footer-gap) * 0.5);
  background-color: var(--modal-footer-bg);
  border-top: var(--modal-footer-border-width) solid var(--modal-footer-border-color);
  border-bottom-right-radius: var(--modal-inner-border-radius);
  border-bottom-left-radius: var(--modal-inner-border-radius);

  > * {
    margin: calc(var(--modal-footer-gap) * 0.5);
  }
}

@media (min-width: 576px) {
  .modal {
    --modal-margin:1.75rem;
    --modal-box-shadow:var(--box-shadow);
  }

  .modal-dialog {
    max-width: var(--modal-width);
    margin-right: auto;
    margin-left: auto;
  }

  .modal-sm {
    --modal-width:300px;
  }
}

@media (min-width: 992px) {
  .modal-lg, .modal-xl {
    --modal-width:800px;
  }
}

@media (min-width: 1200px) {
  .modal-xl {
    --modal-width:1140px;
  }
}

.modal-fullscreen {
  width: 100vw;
  max-width: none;
  height: 100%;
  margin: 0;

  .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }

  .modal-header, .modal-footer {
    border-radius: 0;
  }

  .modal-body {
    overflow-y: auto;
  }
}

@media (max-width: 575.98px) {
  .modal-fullscreen-sm-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;

    .modal-content {
      height: 100%;
      border: 0;
      border-radius: 0;
    }

    .modal-header, .modal-footer {
      border-radius: 0;
    }

    .modal-body {
      overflow-y: auto;
    }
  }
}

@media (max-width: 767.98px) {
  .modal-fullscreen-md-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;

    .modal-content {
      height: 100%;
      border: 0;
      border-radius: 0;
    }

    .modal-header, .modal-footer {
      border-radius: 0;
    }

    .modal-body {
      overflow-y: auto;
    }
  }
}

@media (max-width: 991.98px) {
  .modal-fullscreen-lg-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;

    .modal-content {
      height: 100%;
      border: 0;
      border-radius: 0;
    }

    .modal-header, .modal-footer {
      border-radius: 0;
    }

    .modal-body {
      overflow-y: auto;
    }
  }
}

@media (max-width: 1199.98px) {
  .modal-fullscreen-xl-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;

    .modal-content {
      height: 100%;
      border: 0;
      border-radius: 0;
    }

    .modal-header, .modal-footer {
      border-radius: 0;
    }

    .modal-body {
      overflow-y: auto;
    }
  }
}

@media (max-width: 1539.98px) {
  .modal-fullscreen-xxl-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;

    .modal-content {
      height: 100%;
      border: 0;
      border-radius: 0;
    }

    .modal-header, .modal-footer {
      border-radius: 0;
    }

    .modal-body {
      overflow-y: auto;
    }
  }
}
