

:root {
  --bs-dark: #10131b;
  --bs-dark-rgb: 16,19,27;
  --link-color: #0e82ff;
  --bg-overlay: 0, 0, 0, .4
}

:root,[data-bs-theme=light] {
  --blue: #3874ff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #fa3b1d;
  --orange: #e5780b;
  --yellow: #ffc107;
  --green: #25b003;
  --teal: #20c997;
  --cyan: #0097eb;
  --black: #000000;
  --white: #fff;
  --gray: #6e7891;
  --gray-dark: #141824;
  --gray-50: #f5f7fa;
  --gray-100: #eff2f6;
  --gray-200: #e3e6ed;
  --gray-300: #cbd0dd;
  --gray-400: #9fa6bc;
  --gray-500: #8a94ad;
  --gray-600: #6e7891;
  --gray-700: #525b75;
  --gray-800: #3e465b;
  --gray-900: #31374a;
  --gray-1000: #222834;
  --gray-1100: #141824;
  --primary: #3874ff;
  --secondary: #31374a;
  --success: #25b003;
  --info: #0097eb;
  --warning: #e5780b;
  --danger: #fa3b1d;
  --light: #eff2f6;
  --dark: #141824;
  --primary-rgb: 56, 116, 255;
  --secondary-rgb: 49, 55, 74;
  --success-rgb: 37, 176, 3;
  --info-rgb: 0, 151, 235;
  --warning-rgb: 229, 120, 11;
  --danger-rgb: 250, 59, 29;
  --light-rgb: 239, 242, 246;
  --dark-rgb: 20, 24, 36;
  --primary-text-emphasis: #003cc7;
  --secondary-text-emphasis: #525b75;
  --success-text-emphasis: #1c6c09;
  --info-text-emphasis: #005585;
  --warning-text-emphasis: #bc3803;
  --danger-text-emphasis: #b81800;
  --light-text-emphasis: #141824;
  --dark-text-emphasis: #fff;
  --primary-bg-subtle: #e5edff;
  --secondary-bg-subtle: #eff2f6;
  --success-bg-subtle: #d9fbd0;
  --info-bg-subtle: #c7ebff;
  --warning-bg-subtle: #ffefca;
  --danger-bg-subtle: #ffe0db;
  --light-bg-subtle: #f7f9fb;
  --dark-bg-subtle: #9fa6bc;
  --primary-border-subtle: #85a9ff;
  --secondary-border-subtle: #cbd0dd;
  --success-border-subtle: #90d67f;
  --info-border-subtle: #60c6ff;
  --warning-border-subtle: #ffcc85;
  --danger-border-subtle: #f48270;
  --light-border-subtle: #eff2f6;
  --dark-border-subtle: #8a94ad;
  --white-rgb: 255, 255, 255;
  --black-rgb: 0, 0, 0;
  --font-sans-serif: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-monospace: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --body-font-family: var(--font-sans-serif);
  --body-font-size: 1rem;
  --body-font-weight: 400;
  --body-line-height: 1.49;
  --body-color: #31374a;
  --body-color-rgb: 49, 55, 74;
  --body-bg: #f5f7fa;
  --body-bg-rgb: 245, 247, 250;
  --emphasis-color: #141824;
  --emphasis-color-rgb: 20, 24, 36;
  --secondary-color: #3e465b;
  --secondary-color-rgb: 62, 70, 91;
  --secondary-bg: #e3e6ed;
  --secondary-bg-rgb: 227, 230, 237;
  --tertiary-color: #525b75;
  --tertiary-color-rgb: 82, 91, 117;
  --tertiary-bg: #cbd0dd;
  --tertiary-bg-rgb: 203, 208, 221;
  --heading-color: var(--emphasis-color);
  --link-color: #3874ff;
  --link-color-rgb: 56, 116, 255;
  --link-decoration: none;
  --link-hover-color: #003cc7;
  --link-hover-color-rgb: 0, 60, 199;
  --link-hover-decoration: underline;
  --code-color: #d63384;
  --highlight-color: #31374a;
  --highlight-bg: #fff3cd;
  --border-width: 1px;
  --border-style: solid;
  --border-color: #cbd0dd;
  --border-color-translucent: rgba(203, 208, 221, 0.54);
  --border-radius: 0.375rem;
  --border-radius-sm: 0.25rem;
  --border-radius-lg: 0.5rem;
  --border-radius-xl: 1rem;
  --border-radius-xxl: 2rem;
  --border-radius-2xl: var(--border-radius-xxl);
  --border-radius-pill: 50rem;
  --box-shadow: 0px 2px 4px -2px rgba(36, 40, 46, 0.08);
  --box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --focus-ring-width: 0.25rem;
  --focus-ring-opacity: 0.25;
  --focus-ring-color: rgba(56, 116, 255, 0.25);
  --form-valid-color: #25b003;
  --form-valid-border-color: #25b003;
  --form-invalid-color: #fa3b1d;
  --form-invalid-border-color: #fa3b1d
}

[data-bs-theme=dark] {
  color-scheme: dark;
  --body-color: #9fa6bc;
  --body-color-rgb: 159, 166, 188;
  --body-bg: #0f111a;
  --body-bg-rgb: 15, 17, 26;
  --emphasis-color: #eff2f6;
  --emphasis-color-rgb: 239, 242, 246;
  --secondary-color: #949db5;
  --secondary-color-rgb: 148, 157, 181;
  --secondary-bg: #31374a;
  --secondary-bg-rgb: 49, 55, 74;
  --tertiary-color: #8a94ad;
  --tertiary-color-rgb: 138, 148, 173;
  --tertiary-bg: #373e53;
  --tertiary-bg-rgb: 55, 62, 83;
  --primary-text-emphasis: #85a9ff;
  --secondary-text-emphasis: #cbd0dd;
  --success-text-emphasis: #90d67f;
  --info-text-emphasis: #60c6ff;
  --warning-text-emphasis: #ffcc85;
  --danger-text-emphasis: #f48270;
  --light-text-emphasis: #eff2f6;
  --dark-text-emphasis: #141824;
  --primary-bg-subtle: #1C2231;
  --secondary-bg-subtle: #252834;
  --success-bg-subtle: #1D2527;
  --info-bg-subtle: #1A2431;
  --warning-bg-subtle: #262527;
  --danger-bg-subtle: #241F25;
  --light-bg-subtle: #3e465b;
  --dark-bg-subtle: #1f232e;
  --primary-border-subtle: #303B5A;
  --secondary-border-subtle: #3D414C;
  --success-border-subtle: #354739;
  --info-border-subtle: #29435A;
  --warning-border-subtle: #51453A;
  --danger-border-subtle: #4C3233;
  --light-border-subtle: #141824;
  --dark-border-subtle: #3e465b;
  --heading-color: var(--emphasis-color);
  --link-color: #85a9ff;
  --link-hover-color: #85a9ff;
  --link-color-rgb: 133, 169, 255;
  --link-hover-color-rgb: 133, 169, 255;
  --code-color: #d63384;
  --highlight-color: #9fa6bc;
  --highlight-bg: #664d03;
  --border-color: #373e53;
  --border-color-translucent: rgba(55, 62, 83, 0.78);
  --form-valid-color: #90d67f;
  --form-valid-border-color: #90d67f;
  --form-invalid-color: #f48270;
  --form-invalid-border-color: #f48270
}

body {
  //background-image: linear-gradient(132.6deg, rgba(71, 139, 214, 1) 23.3%, rgba(37, 216, 211, 1) 84.7%);
  min-width: 380px;
  margin: 0;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  color: var(--body-color);
  text-align: var(--body-text-align);
  background-color: var(--body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
